@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .nav-list {
    margin-left: 76px;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 23px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .features-list {
    gap: var(--cards-gap);
  }

  .features-item {
    flex-basis: calc((100% - var(--cards-gap) * 3) / 4);
  }

  .features-image {
    display: flex;
  }

  .features-text-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text-main {
    font-weight: 400;
  }

  .services {
    display: block;
  }

  .team-list {
    gap: var(--cards-gap);
  }

  .customers-list {
    gap: var(--cards-gap);
  }

  .customers-item {
    flex-basis: calc((100% - var(--cards-gap) * 5) / 6);
  }

  .portfolio-item {
    flex-basis: calc((100% - var(--cards-gap) * 2) / 3);
  }

  footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-social {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer-subscribe {
    margin-left: auto;
    width: 453px;
  }

  .subscribe-form {
    display: flex;
    margin-top: 16px;
    gap: 24px;
  }

  footer .input-field {
    width: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background-desktop.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-background-desktop@2x.jpg');
    }
  }
}
