@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .features-list {
    gap: var(--cards-gap);
  }

  .features-item {
    flex-basis: calc((100% - var(--cards-gap) * 3) / 4);
  }

  .features-image {
    display: flex;
  }

  .features-text-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text-main {
    font-weight: 400;
  }

  .services {
    display: block;
  }

  .team-list {
    gap: var(--cards-gap);
  }

  .customers-list {
    gap: var(--cards-gap);
  }

  .customers-item {
    flex-basis: calc((100% - var(--cards-gap) * 5) / 6);
  }
}
