@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .address-list {
    display: none;
  }
}

@media screen and (max-width: 432px) {
  .menu-address-link.tel {
    font-size: 24px;
  }

  .menu-social-list {
    max-width: 240px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team > .container {
    max-width: 296px;
  }
}

@media screen and (max-width: 767px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-background-mobile@2x.jpg');
    }
  }
}
