@media screen and (max-width: 432px) {
  .menu-address-link.tel {
    font-size: 24px;
  }

  .menu-social-list {
    max-width: 240px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team > .container {
    max-width: 296px;
  }
}
