/* Variables */

:root {
  --text-main-color: #434455;
  --text-title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --text-second-color: #fff;
  --icon-social-background: rgba(255, 255, 255, 0.1);
  --button-color: #f4f4fd;
  --button-hover-color: #404bbf;
  --button-border-color: #e7e9fc;
  --icon-social-hover: #31d0aa;
  --customers-color: #8e8f99;
  --modal-backdrop-color: rgba(46, 47, 66, 0.4);
  --modal-background-color: #fcfcfc;
  --input-box-border-color: rgba(33, 33, 33, 0.2);
  --input-text-color: #8e8f99;
  --cards-gap: 24px;
  --border-radius: 4px;
  --features-item-number: 4;
  --services-item-number: 3;
  --team-item-number: 4;
  --customers-item-number: 6;
  --portfolio-item-number: 3;
  --shadow-cards: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body basic style */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
}

.container {
  width: 100%;
  max-width: 1158px;

  padding: 0 15px;
  margin: 0 auto;
}

/* Hidden headers */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  white-space: nowrap;

  border: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

*:focus {
  outline: transparent;
}

/* Lists basic style */

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Links basic style */

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Sections basic style */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Text styles */

.text-main {
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main-color);
}

.text-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}

.text-title-big {
  margin: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
  text-align: center;
}

/* Buttons */

@keyframes ButtonJump {
  0% {
    transform: scale(1);
    text-rendering: initial;
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.button {
  font-weight: 500;
  letter-spacing: 0.04em;

  border-radius: var(--border-radius);
  animation: ButtonJump 500ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-play-state: paused;
}

.button.primary {
  padding: 16px 32px;

  color: var(--text-second-color);

  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--hover-transition);
}

.button.secondary {
  padding: 12px 24px;

  color: var(--accent-color);

  background-color: var(--button-color);
  border: 1px solid var(--button-border-color);
  transition: color var(--hover-transition),
    background-color var(--hover-transition), border var(--hover-transition),
    box-shadow var(--hover-transition);
}

.button.primary:is(:hover, :focus) {
  cursor: pointer;

  background-color: var(--button-hover-color);
  animation-play-state: running;
}

.button.secondary:is(:hover, :focus) {
  color: var(--button-color);
  cursor: pointer;

  background-color: var(--button-hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  animation-play-state: running;
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo {
  color: var(--text-title-color);
}

.footer-logo {
  color: var(--button-color);
}

.logo > .accent {
  color: var(--accent-color);
}

/* Site nav and address */

header {
  position: sticky;
  top: 0;
  z-index: 50;

  background-color: var(--text-second-color);
  border-bottom: 1px solid var(--button-border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 76px;
}

.nav-item + .nav-item {
  margin-left: 40px;
}

.nav-logo,
.nav-link,
.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;
}

.nav-link {
  position: relative;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-title-color);
  transition: color var(--hover-transition);
}

.nav-link::after {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: transparent;
  border-radius: 2px;
  transition: background-color var(--hover-transition);
}

.nav-link.current::after {
  background-color: var(--button-hover-color);
}

.nav-link:is(:hover, :focus)::after {
  background-color: var(--button-hover-color);
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-link:is(:hover, :focus),
.address-link:is(:hover, :focus),
.current {
  color: var(--button-hover-color);
}

.address-item + .address-item {
  margin-left: 40px;
}

.address-link {
  font-style: normal;
  color: var(--text-main-color);

  transition: color var(--hover-transition);
}

/* Hero section */

.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-color: var(--text-title-color);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-background-01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  color: var(--text-second-color);
}

/* Features section */

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.features-item {
  flex-basis: calc(
    (100% - var(--cards-gap) * (var(--features-item-number) - 1)) /
      var(--features-item-number)
  );
}

.features-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;

  background-color: var(--button-color);
  border-radius: var(--border-radius);
}

/* Services section */

.services {
  padding-top: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.services-item {
  flex-basis: calc(
    (100% - var(--cards-gap) * (var(--services-item-number) - 1)) /
      var(--services-item-number)
  );
}

/* Team section */

.team {
  background-color: var(--button-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  flex-basis: calc(
    (100% - var(--cards-gap) * (var(--team-item-number) - 1)) /
      var(--team-item-number)
  );

  background-color: var(--text-second-color);
  box-shadow: var(--shadow-cards);
  border-radius: 0px 0px 4px 4px;
}

.team-item-description {
  padding: 32px 16px;

  text-align: center;
}

.team-list-social {
  display: flex;
  justify-content: center;

  margin-top: 8px;
  gap: var(--cards-gap);
}

.team-item-social {
  width: 40px;
  height: 40px;
}

.team-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color var(--hover-transition);
}

.team-link-social:is(:hover, :focus) {
  background-color: var(--button-hover-color);
}

/* CUSTOMERS SECTION */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cards-gap);
}

.customers-item {
  flex-basis: calc(
    (100% - var(--cards-gap) * (var(--customers-item-number) - 1)) /
      var(--customers-item-number)
  );
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--customers-color);

  border: 1px solid var(--customers-color);
  border-radius: var(--border-radius);
  transition: color var(--hover-transition),
    border-color var(--hover-transition);
}

.customers-link:is(:hover, :focus) {
  color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: currentColor;
}

/* PORTFOLIO PAGE */

.portfolio.section {
  padding-top: 96px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc(
    (100% - var(--cards-gap) * (var(--portfolio-item-number) - 1)) /
      var(--portfolio-item-number)
  );
}

.portfolio-link {
  display: block;
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: var(--shadow-cards);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-image-overlay {
  position: absolute;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  overflow: auto;

  color: var(--button-color);
  background-color: var(--accent-color);
  transition: transform var(--hover-transition);
}

.portfolio-link:is(:hover, :focus) .portfolio-image-overlay {
  transform: translateY(-100%);
}

.portfolio-item-description {
  padding: 32px 16px;
  border-right: 1px solid var(--button-border-color);
  border-bottom: 1px solid var(--button-border-color);
  border-left: 1px solid var(--button-border-color);
}

/* FOOTER */

footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--text-title-color);
}

.footer-container {
  display: flex;
}

.footer-logo-container {
  width: 264px;
}

.footer-logo-text {
  margin-top: 16px;
  color: var(--button-border-color);
}

.footer-social {
  margin-left: 120px;
  margin-right: 80px;
  width: 208px;
}

.footer-social-title {
  font-weight: 500;
  color: var(--text-second-color);
}

.footer-list-social {
  display: flex;
  flex-wrap: wrap;

  margin-top: 16px;
  gap: 16px;
}

.footer-item-social {
  width: 40px;
  height: 40px;
}

.footer-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--icon-social-background);
  border-radius: 50%;
  transition: background-color var(--hover-transition);
}

.footer-link-social:is(:hover, :focus) {
  background-color: var(--icon-social-hover);
}

/* FOOTER FORM */

.footer-subscribe {
  margin-left: auto;
  width: 453px;
}

.subscribe-form {
  display: flex;
  margin-top: 16px;
  gap: 24px;
}

footer .input-field {
  width: 264px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05),
    inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  color: var(--text-second-color);
}

.button.primary.btn-subscribe {
  padding: 8px 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  box-shadow: none;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: var(--modal-backdrop-color);

  transition: opacity var(--hover-transition),
    visibility var(--hover-transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  padding: 72px 24px 24px;

  background-color: var(--modal-background-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--hover-transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: var(--button-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color var(--hover-transition),
    border-color var(--hover-transition);
}

.modal-icon-close {
  transition: fill var(--hover-transition);
}

.modal-button-close:is(:hover, :focus) {
  background-color: var(--button-hover-color);
  border-color: transparent;
}

.modal-button-close:is(:hover, :focus) .modal-icon-close {
  fill: var(--text-second-color);
}

.modal-heading {
  margin-bottom: 16px;

  font-weight: 500;
  text-align: center;
}

.input-wrap {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.input-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.33;
  color: var(--input-text-color);
}

.input-field {
  display: block;
  padding: 8px 16px;
  width: 100%;
  min-height: 40px;

  font-size: 14px;
  color: var(--text-main-color);

  border: 1px solid var(--input-box-border-color);
  border-radius: var(--border-radius);

  transition: border-color var(--hover-transition);
}

.input-field:focus {
  border-color: var(--accent-color);
}

.input-field:focus + .input-icon {
  fill: var(--accent-color);
}

.input-field::placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}

.contact-input {
  padding-left: 38px;
}

.input-icon {
  position: absolute;
  bottom: 8px;
  left: 16px;

  fill: var(--text-title-color);
  transition: fill var(--hover-transition);
}

.modal-textarea {
  resize: none;
  height: 120px;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-box {
  position: relative;
  width: 16px;
  height: 16px;

  border: 1.25px solid var(--text-title-color);
  border-radius: 2px;
  transition: background-color var(--hover-transition),
    border-color var(--hover-transition);
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  fill: var(--text-second-color);
  transition: opacity var(--hover-transition);
}

.checkbox-hidden:checked + .checkbox-box {
  background-color: var(--button-hover-color);
  border-color: transparent;
}

.checkbox-hidden:checked + .checkbox-box > .checkbox-icon {
  opacity: 1;
}

.checkbox-label {
  margin-left: 8px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.checkbox-link {
  position: relative;

  color: var(--accent-color);

  transition: color var(--hover-transition);
}

.checkbox-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 1px;

  border-bottom: 1px solid var(--accent-color);
  transition: border-color var(--hover-transition);
}

.checkbox-link:is(:hover, :focus) {
  color: var(--button-hover-color);
}

.checkbox-link:is(:hover, :focus)::after {
  border-color: var(--button-hover-color);
}

.form-button {
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
}
