@media screen and (min-width: 768px) {
  .container {
    max-width: 584px;
  }

  .hero {
    padding-bottom: 108px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--cards-gap);
  }

  .features-item {
    flex-basis: calc((100% - var(--cards-gap)) / 2);
  }

  .features-text-title {
    text-align: left;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--cards-gap);
  }

  .customers-list {
    column-gap: var(--cards-gap);
  }

  .customers-item {
    flex-basis: calc((100% - var(--cards-gap) * 2) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features > .container {
    max-width: 768px;
  }
}
