@media screen and (min-width: 768px) {
  .container {
    max-width: 584px;
  }

  .button.secondary {
    padding: 11px 23px;
  }

  .mobile-menu-btn {
    display: none;
  }

  .hero {
    padding-bottom: 108px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--cards-gap);
  }

  .features-item {
    flex-basis: calc((100% - var(--cards-gap)) / 2);
  }

  .features-text-title {
    text-align: left;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--cards-gap);
  }

  .customers-list {
    column-gap: var(--cards-gap);
  }

  .customers-item {
    flex-basis: calc((100% - var(--cards-gap) * 2) / 3);
  }

  .portfolio.section {
    padding-top: 96px;
  }

  .filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }

  .portfolio-list {
    margin-top: 72px;
  }

  .portfolio-item {
    flex-basis: calc((100% - var(--cards-gap)) / 2);
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
    align-items: baseline;
  }

  .footer-logo {
    text-align: start;
  }

  .footer-social-title {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  footer .input-field {
    width: 264px;
  }

  .button.primary.btn-subscribe {
    width: 165px;
    margin: 0;
  }

  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features > .container,
  header > .container,
  .portfolio > .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background-tablet.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-background-tablet@2x.jpg');
    }
  }
}
